<div class="row">


  <div class="box" id="header">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% for (item of listItems) { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="deleteItem" value="<%= item._id %>" onChange="this.form.submit()">
          <p><%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
      <% } %>

      <form class="item" action="/lists" method="post">
        <input class="input-big" type="text" name="newItem" placeholder="New item" autocomplete="off">
        <button class="big-plus" type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>
</div>
